img {
  width: 300px;
  height: 200px;
}

body {
  padding-top: 70px;
}

body {
  background-color: seagreen;
}

h2 {
  font-family: monospace;;
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: lightblue;
}

.btn-group {
  padding: 30px;
}

.jumbotron {
  background-color:#ADD8E6;
}
